/* Seção 01 */
.apresentacao{
    display: flex;
    max-width: 1000px; margin: 0 auto;
    margin-bottom: 80px;
    margin-top: 80px;
}
.apresentacao div{
    width: 100%;
    padding: 10px; flex-wrap: wrap;
}
.apresentacao > div{
    flex: 1 1 100px;
    padding: 10px !important;
}
.apresentacao .escopo-apresentacao h1{
    color: #FF4081; font-size: 65px; 
}
.apresentacao .escopo-apresentacao p{
    color: #555555; font-size: 27px;
    font-style: normal;
    margin: 10px 0px 10px 0px;
}
.apresentacao .botao button{
    background-color: transparent; border: none;
    border: 2px solid #FF4081; color: #FF4081;
    border-radius: 62px; font-size: 27px;
    padding: 5px 20px 5px 20px;
    margin: 10px 0px 10px 0px; cursor: pointer;
}

/* Seção 02 */
.coloracao-geral-cursos{
    background-color:#F6F6F6;
}
.cursos{
    display: flex; text-align: center;
    background-color: #F6F6F6;
    flex-wrap: wrap;
    max-width: 1000px; margin: 0 auto;
    margin-top: 100px; margin-bottom: 80px;
}
.cursos > div{
    flex: 1 1 100px;
}
.cursos div{
    margin: 5px; flex-wrap: wrap;
}
.cursos .modelo-cursos img{
    margin-top: 20px; 
}
.cursos .modelo-cursos h1{
    color: #FF4081; font-size: 22px;
    margin-bottom: 10px; 
    margin-top: 10px;
    
}
.cursos .modelo-cursos p{
    color: #000000; margin-top: 10px; margin-bottom: 20px;
    font-size: 18px;
}
.cursos .modelo-cursos button{
    background-color: #FF4081; border: none; color: #FFFFFF;
    font-size: 20px; padding: 10px 40px 10px 40px;
    border-radius: 62px; margin-bottom: 20px;
    cursor: pointer;
}
/* Seção 03 */
.falam-sobre-nos{
    max-width: 1000px; margin: 0 auto;
    margin-bottom: 80px;
    padding: 10px;
}
.falam-sobre-nos .titulo-falam-sobre-nos h1{
    font-size: 37px; text-transform: uppercase;
    color: #009688;
    margin-bottom: 60px; margin-top: 60px;
}
.falam-sobre-nos .mensagens-falam-sobre-nos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
}
.falam-sobre-nos .mensagens-falam-sobre-nos div{
    display: flex; align-items: center;
}
.falam-sobre-nos .mensagens-falam-sobre-nos img{
    border-radius: 62px; border: 2px solid #FF4081;
    text-align: center;
}
.falam-sobre-nos .mensagens-falam-sobre-nos p{
    margin: 10px;
}
.falam-sobre-nos .mensagens-falam-sobre-nos ul{
    list-style: none; margin-left: 15px;
}
.falam-sobre-nos .mensagens-falam-sobre-nos ul li{
    margin-top: 7px;
}

/* Seção 04 */
.coloracao-geral-blog{
    background-color: #E5E5E5;
    padding: 10px;
}
.conteudos-blog{
    background-color: #E5E5E5;
    max-width: 1000px; margin: 0 auto;
}
.grupo-conteudo-blog{
    display: flex;
    flex-wrap: wrap;
}
.grupo-conteudo-blog > div{
    flex:1 1 200px;
}
.conteudos-blog .conteudo-blog{
    margin: 10px;
}
.conteudos-blog .conteudo-blog img{
    width: 100%; margin-bottom: 10px; 
}
.conteudos-blog .titulo-conteudo-blog h1{
    color: #009688; text-transform: uppercase;
    font-size: 37px; margin-bottom: 60px;
    margin-top: 60px;
} 
.conteudos-blog .titulo-conteudo-blog{
    border: 2px solid #E5E5E5;
}
.conteudos-blog .conteudo-blog h1{
    font-size: 24px; 
    color: #009688;
}
.conteudos-blog .conteudo-blog p{
    font-size: 17px; color: #000000;
    margin-bottom: 20px; 
}
.conteudo-blog-botao{
    background-color: #E5E5E5; 
    padding: 10px; text-align: center; 
    max-width: 1000px; margin: 0 auto;
}
.conteudo-blog-botao button{
    background-color: transparent; border: 2px solid #FF4081;
    color: #FF4081; font-size: 23px; border-radius: 62px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 40px; margin-top: 40px; cursor: pointer;
}
a{
    text-decoration: none;
}