/* Responsividade */
@media(max-width:900px){
    .contato .escopo-geral-contato .imagem-contato img{
       margin: 0px; width: 100%;
    }
    .assuntos-blog .escopo-assuntos-blog > div{
        margin-left: 10px;
        margin-right: 10px;
        flex: 1 1 300px;
    }
}


@media(max-width: 701px){
    .apresentacao{
        flex-direction: column;
        padding: 5px; margin-top: 0px;
    }
    .conteudos-blog{
        flex-direction: column;
    }
    .apresentacao div{
        padding: 0px;
    }
    .falam-sobre-nos .mensagens-falam-sobre-nos{
        grid-template-columns: repeat(1, 1fr);
    }
    .cursos .selecao-cursos .selecao-cursos-imagem img{
        width: 300px;
    }
    .cursos .titulo-paragrafo-cursos h1{
        font-size: 70px;
    }
    .cursos .selecao-cursos .selecao-cursos-informacoes h1{
        font-size: 40px;
    }
    .cursos .selecao-cursos .selecao-cursos-informacoes p{
        font-size: 25px;
    }
    .cursos .selecao-cursos .selecao-cursos-informacoes .botao button{
        font-size: 30px;
    }
    .contato .escopo-geral-contato{
        flex-direction: column;
    }
    .contato .escopo-geral-contato .imagem-contato img{
       margin: 0px; width: 100%;
    }
    .contato .escopo-geral-contato form input, textarea{
        font-size: 20px;
    }
    .contato .escopo-geral-contato form .botao button{
        font-size: 25px;
    }
    .assuntos-blog .escopo-assuntos-blog > div{
        margin-left: 0px;
    }
    .topo-blog .escopo-topo-blog{
       flex-direction: column;
       margin-bottom: 50px;
    }
    .assuntos-blog .escopo-assuntos-blog > div{
        margin-left: 10px;
        margin-right: 10px;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    footer div, .footer-logo{
        padding: 20px;
    }
    footer .footer-links .lista-footer-links li a, footer .footer-botoes .lista-footer-botoes button{
        font-size: 23px;
    }
}

@media(max-width:770px){
    .cursos .modelo-cursos h1{
        font-size: 35px;
    }
    .cursos .modelo-cursos p{
        font-size: 20px;
    }
    .cursos .modelo-cursos button{
        font-size: 30px;
    }

    .conteudos-blog .conteudo-blog h1{
        font-size: 35px;
    }
    .conteudos-blog .conteudo-blog p{
        font-size: 20px;
    }
    .conteudo-blog-botao button{
        font-size: 30px;
    }
}

@media(max-width:320px){
    .apresentacao .escopo-apresentacao h1{
        font-size: 50px;
    }
}